* {
  box-sizing: border-box;
}
#mainId{
	display: flex;
    flex-direction: column;
    height: 95vh;
	text-align:left;
	flex: 1;
    justify-content: center;
    align-items: center;
	font-family:  arial;
	font-size: 14px;
	line-height: 13px;
	color: black;
}

#title{
	/*padding-top: 5%;*/
	text-align: center;
	/*line-height: 2.5vw;*/
	width:100%;
	float:left;
}


#title2{
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	width:100%;
	float:left;
}


@media screen {
  #title {
    font-size: 36px;
	  line-height: 36px;
  }
	#title2  {
    font-size: 22px;
	   line-height: 22px;
  }
}





#fig{

	text-align: center;
	width:100%;
	float:left;
}

#vid{

	text-align: center;
	max-width: 800px;
	float:left;
}

#Nav_paper {
 	background: none;
	border: none;
	outline: none;
	cursor: pointer;
}
#Nav_paper span {
  background: url("paper.png") no-repeat;
  width: 150px;  /* your image width */
  height: 150px; /* your image height */
	background-size: 100%;
  display: inline-block;

}
#Nav_paper label {
	margin-top: -15px;
  display: inline-block;
  color: black;
	font-size: 14px;
}

#Nav_paper:hover label {
  color: black;
}

#Nav_video:hover label {
  color: black;
}

#Nav_code:hover label {
  color: black;
}
#Nav_paper:hover span {
  background: url("paper.gif") no-repeat;
	background-size: 100%;
}

#Nav_code {
 	background: none;
	border: none;
	outline: none;
	cursor: pointer;
}
#Nav_code span {
  background: url("code.png") no-repeat;
  width: 150px;  /* your image width */
  height: 150px; /* your image height */
	background-size: 100%;
  display: inline-block;

}
#Nav_code label {
	margin-top: -5px;
  display: inline-block;
  color: black;
	font-size: 14px;
}

#Nav_code:hover span {
  background: url("code.gif") no-repeat;
	background-size: 100%;
}

#Nav_video {
 	background: none;
	border: none;
	outline: none;
	cursor: pointer;
}
#Nav_video span {
  background: url("video_fg.png") no-repeat;
  width: 150px;  /* your image width */
  height: 150px; /* your image height */
	background-size: 100%;
  display: inline-block;

}
#Nav_video label {
	margin-top: -10px;
  display: inline-block;
  color: black;
	font-size: 14px;
}

#Nav_video:hover span {
  background: url("make_pasta-16.png") no-repeat;
	background-size: 100%;
}

.hidden {
   display : none;
 }

a:link { text-decoration: none; color: black;}


a:visited { text-decoration: none; color: black;}


a:hover { text-decoration: none; color: black; }


a:active { text-decoration: none; color: black; }



.container {
	max-width: 800px;
	float:left;
}

.bibtexsection {
  font-family: "Courier",monospace;
  font-size:14px;
  /*white-space:pre;*/
  /*background-color: #f4f4f4;*/
  text-align:left;
  /*border: 1px solid #364f75;*/
}


@media only screen  and (orientation: portrait){
   #title  {
    font-size: 2.5vw;
	   line-height: 2.5vw;
  }
	#title2  {
    font-size: 1.5vw;
	   line-height: 1.5vw;
  }



}